#homepage {    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../images/contact-email-image.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    flex-flow: column;
    display: flex;
    width: 100%;
}

#form-wrapper {
    background-color: rgba(0, 0, 0, 0.512);
    width: 80%;
    padding: 100px;
}

#submit-btn {
    border: 1px solid var(--white);
    background-color: transparent;
    padding: 10px 30px;
    background-color: var(--black);
    color: var(--white);
    font-size: 0.8rem;
    transition: 0.3s;
    cursor: pointer;
}


#submit-btn:hover {
    color: var(--black) !important;
    background-color: var(--white);
    padding: 10px 30px;
    font-size: 0.8rem;
    transition: 0.3s;
    cursor: pointer;
}

input,
textarea {
    padding: 15px !important;
    margin: 10px 0px;
    width: 100%;
    border: none !important;
    outline: none !important;
}

input {
    border-radius: 0px !important;
}

#footer {
    margin-top: 0px !important;
}

@media (max-width: 900px) {
    #form-wrapper {
        width: 80%;
        padding: 35px;
        /* animation: slideUp 1s; */
    }   
}

