/* Any copying or redustribution of this code is ILLEGAL. Whomever does so will be subject to prosecution*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

* {
    letter-spacing: 1.5px !important;
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #090909;
    --textColor: #615d5d;
}

html {
    padding: 10px;
    padding-bottom: 0px;
    background-color: var(--white);
}

body {
    margin-bottom: 0px;
    background-color: var(--white);
}

@media (max-width: 900px) {
    html,
    body {
        padding: 0px;
        margin: 0px;
    }
}


/***************WHITE COLOR****************/

#homepage__content__learn-more-btn:hover,
#homepage__content__learn-more-btn,
#homepage__content__welcome-text,
#homepage__content__company-name,
#homepage__content__profession,
#homepage__nav__name,
#footer__info__about__company,
#footer__info__about__profession,
#footer__info__contact__text,
#footer__info__location__directions,
#footer__info__number,
#footer__info__address,
#footer__name,
#footer__copyright,
#footer__info__location p,
.homepage__nav-links__link {
    color: var(--white);
}

/***************NAVBAR****************/

#contact-link-wrapper {
    margin-right: 0px !important;
}

#homepage__nav {
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
}

#homepage__nav__name,
.homepage__nav-links__link:hover,
.homepage__nav-links__link
 {
    text-decoration: none;
    cursor: pointer;
}

#homepage__about {
    display: flex;
    align-items: center;
}

#homepage__nav__name {
    text-decoration: none;
}

#logo {
    margin-right: 15px;
    display: none;
}

#contact-link {
    margin-right: 0px !important;
}

#homepage__nav-links__hamburger {
    cursor: pointer;
}

#homepage__nav-links__hamburger-wrapper {
    display: none;
}

#homepage__nav-links {
    display: flex;
}

.homepage__nav-links__link-wrapper {
    list-style-type: none;
    margin: 0px 20px;
}

.homepage__nav-links__link {
    font-size: 0.8rem;
    text-decoration: none;
}

#homepage__nav-links__secret-hamburger-wrapper {
    display: none;
    cursor: pointer;
}

#homepage__nav-links hr {
    display: none;
    width: 80%;
    border-color: rgba(237, 237, 237, 0.197);
}

#home-link-wrapper,
#email-link-wrapper {
    display: none;
}

@media (min-width: 900px) {
    #homepage__nav-links {
        display: flex !important;
        flex-direction: row !important;
    }
}

@media (max-width: 900px) {
    #homepage__nav-links {
        display: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        flex-direction: column;
        position: absolute;
        padding: 20px;
        background-color: var(--white);
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        height: 100vh;
    }

    #contact-link-wrapper {
        display: none;
    }

    #home-link-wrapper,
    #email-link-wrapper {
        display: block;
    }

    #email-link-wrapper {
        margin-top: 50px;
    }

    .homepage__nav-links__link:hover {
        color: var(--textColor) !important;
    }

    #homepage__nav-links hr {
        display: block;
    }
    

    @keyframes slideLeft {
        from {
            left: 100%;
        }

        to {
            left: 30%;
        }
    }

    @keyframes slideRight {
        from {
            left: 30%;
        }

        to {
            right: 0px;
        }
    }

    
    .homepage__nav-links__link-wrapper {
        margin: 20px 0px;
        text-align: center;
    }

    #homepage__nav-links__secret-hamburger-wrapper {
        display: block;
        margin-top: 0px;
        text-align: right;
        margin-bottom: 70px;
    }

    .homepage__nav-links__link {
        color: var(--black) !important; 
    }

    #homepage__nav-links__hamburger-wrapper {
        margin: 0px;
        display: block;
    } 
}
